<!DOCTYPE html>
<html lang="en">

<!-- head -->
<%- include('../../partials/header'); %>

    <body>

        <!-- NAVBAR -->
        <%- include('../../partials/navigation.ejs'); %>

            <!-- CONTENIDO -->
            <div class="container-md border">
                <div class="row align-items-start">

                    <!-- CANVAS P5js -->
                    <div class="col-12 col-lg-7 col-xl-6 col-xxl-5 align-self-start p-3">
                        <main>
                        </main>
                    </div>

                    <!-- DESCRIPCIÓN -->
                    <div class="col-12 col-lg-5 col-xl-6 col-xxl-7 align-self-stretch  p-1">

                        <% item=datos.filter( d=> d.id===skid); %>

                            <div class="card h-100">
                                <div class="card-header">
                                    <h5 class="card-title">
                                        <%= item[0].title %>
                                    </h5>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">
                                        <%= item[0].desc %>
                                    </p>
                                </div>
                            </div>

                    </div>

                </div>
            </div>

            <!-- FOOTER -->
            <%- include('../../partials/footer.ejs'); %>

                <!-- SCRIPTS -->
                <%- include('../../partials/scripts.ejs'); %>

                    <!-- SKETCH -->
                    <script src="<%= '../sketches/'+ item[0].id +'/sketch.js' %>"></script>

    </body>


</html>